.A_MediaO{
    margin-left: 14%;
    margin-top: -9%;
}

.A_Logo{
    width: 30%;
    margin-left: 34%;
}



.A_Gradient{
    display: block;
        justify-content: center;
        margin-top: -1.4%;
        margin-left: 0%;
        width: 100%;
        overflow: hidden;
}



.A_Logotype, .A_ChapterTests, .A_ChapterAbout, .A_ChapterLit {
    display: inline;
}

.A_Logotype a{
    font-size: 40px;
    font-weight: 700;
    color: black;
    letter-spacing: -5px;
}

.A_Chapters p{
    font-size: 80px;
}

.A_Chapters{
    padding-top: 2vw;
    padding-left: 2vw;
    cursor: pointer;
}

.A_CardImage img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.A_CardImageCover img {
    width: 240px;
    height: auto;
    object-fit: cover;
    mix-blend-mode: multiply;
}

.A_CardName p {
    margin: 0;
    font-size: 24px;
}

.A_CardTag p {
    margin: 0;
    font-size: 16px;
}

.A_Icon{
    display: flex;
    width: 24px;
}

.A_Icon img{
    width: 24px;
}

.A_Icon img:hover{
    opacity: 0.7;
}

.A_ShowAllButton {
    width: 15vw;
    margin-top: 2vw;
    margin-left: 2vw;
    padding: 8px 16px;
    border: solid 2px #B0EB00;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #B0EB00;
    }
  }


  .A_Chapters u {
    transition: opacity 0.2s ease;

    &:hover {
        opacity: 0.7;
      }
  }
  

.A_SideImg {
    width: 50px;
    height: 50px;;
}

.A_SideImg img{
    width: 50px;
    height: 50px;;
}

.A_ArticleImg {
    width: 100%;
    height: auto;
}

.A_ArticleImg img{
    width: 100%;
    height: 100%;
}

.A_MainTitle {
    padding-left: 2vw;
    font-size: 60px;
    font-weight: bold;
}

.A_Summary {
    padding: 10px;
    padding-bottom: 40px;
    background-image: linear-gradient( to bottom,
        #B0EB00 0%, 
        #B0EB00 70%,
        white 90%,
        white 100%
      )
}

.A_SideTitle{
    font-style: italic;
}

.A_SideTags p {
    font-size: 32px;
}

.A_Resources a{
    font-style: italic;
    color: #B0EB00;
    text-decoration: underline;
    
}

.A_Resources {
    display: inline;
    
}

.A_ArticleTitle {
    font-size: 24px;
    font-weight: bold;
}

.A_ArticleText {
    font-size: 20px;
}

.tests{
.A_Image{
    margin-left: 2%;
    margin-top: 5%;
    cursor: pointer;
    transition: opacity 0.2s ease;
    &:hover {
        opacity: 0.7;
      }
}
@media screen and (min-width: 1920px){
    .A_Image{
        width: 20%;
        margin-left: 2%;
        margin-top: 5%;
        cursor: pointer;
        transition: opacity 0.2s ease;
        &:hover {
            opacity: 0.7;
          }
    }
}
@media screen and (min-width: 1440px)and (max-width: 1919px){
    .A_Image{
        width: 20%;
        margin-left: 2%;
        margin-top: 5%;
        cursor: pointer;
        transition: opacity 0.2s ease;
        &:hover {
            opacity: 0.7;
          }
    }
    
    }
@media screen and (min-width: 1366px)and (max-width: 1439px){

}

@media screen and (min-width: 1024px)and (max-width: 1365px){
    .A_Image img{
        width: 88%;
    }
}

@media screen and (min-width: 768px)and (max-width: 1023px){
    .A_TitleTest{
        margin-left: 1%;
        margin-top: 1%;
        font-size: 3.2vw;
        cursor: pointer;
        
        transition: opacity 0.2s ease;
        &:hover {
            opacity: 0.7;
          }
    }
    
    .A_TitleTag{
        margin-left: 1%;
        margin-top: 0.5%;
        font-size: 2.3vw;
    }    
    
    .A_Image img{
        width: 60%;
    }  
}
@media screen and (min-width: 414px)and (max-width: 767px){
   
    .A_TitleTest{
        margin-left: 1%;
        margin-top: 1%;
        font-size: 6vw;
        cursor: pointer;
        
        transition: opacity 0.2s ease;
        &:hover {
            opacity: 0.7;
          }
    }
    
    .A_TitleTag{
        margin-left: 1%;
        margin-top: 0.5%;
        font-size: 4.3vw;
    }  
    
    .A_Image img{
        width: 90%;
    } 
}
@media screen and (min-width: 360px)and (max-width: 413px){ 
    .A_TitleTest{
        margin-left: 1%;
        margin-top: 1%;
        font-size: 6vw;
        cursor: pointer;
        
        transition: opacity 0.2s ease;
        &:hover {
            opacity: 0.7;
          }
    }
    
    .A_TitleTag{
        margin-left: 1%;
        margin-top: 0.5%;
        font-size: 4.3vw;
    }  

    .A_Image img{
        width: 80%;
    } 
}
@media screen and (min-width: 0px)and (max-width: 359px){ 
    .A_TitleTest{
        margin-left: 1%;
        margin-top: 1%;
        font-size: 6vw;
        cursor: pointer;
        
        transition: opacity 0.2s ease;
        &:hover {
            opacity: 0.7;
          }
    }
    
    .A_TitleTag{
        margin-left: 1%;
        margin-top: 0.5%;
        font-size: 4.3vw;
    }  

    .A_Image img{
        width: 70%;
    } 
}
}

.A_TitleTest{
    margin-left: 1%;
    margin-top: 1%;
    font-size: 1.9vw;
    cursor: pointer;
    
    transition: opacity 0.2s ease;
    &:hover {
        opacity: 0.7;
      }
}

.A_TitleTag{
    margin-left: 1%;
    margin-top: 0.5%;
    font-size: 1.3vw;
}


.lakes, .yavlenia, .insects{
    @media screen and (min-width: 1920px){
        .A_BaikalImage{
            z-index:-1;
            margin-top: -6%;
            overflow: hidden;
            height: 88%;
        
        }
        .A_BaikalImage1{
            margin-right:10%;
            margin-left: 27%;
        }
    
          button {
            z-index: 3;
            display: block;
            width: 5%;
            background: none;
            color: rgb(0, 0, 0);
            border: none;
            font-size: 1.7em;
            cursor: pointer;
            margin-top: 13%;
            margin-left: 118%;
            transition: background 0.3s;
          }
    
          #results button {
            width: 100%;
            cursor: pointer;
            margin-top: 90%;
            margin-left: 270%;
          }

          .A_FlyImage{
            height: 76%;
          }
    }

@media screen and (min-width: 1440px)and (max-width: 1919px){
    .A_BaikalImage{
        z-index:-1;
        margin-top: -10%;
        overflow: hidden;
        height: 90%;
    
    }
    .A_BaikalImage1{
        margin-right:10%;
        margin-left: 27%;
    }

      button {
        z-index: 3;
        display: block;
        width: 5%;
        background: none;
        color: rgb(0, 0, 0);
        border: none;
        font-size: 1.7em;
        cursor: pointer;
        margin-top: 17%;
        margin-left: 114%;
        transition: background 0.3s;
      }

      #results button {
        width: 100%;
        cursor: pointer;
        margin-top: 120%;
        margin-left: 350%;
      }

      .A_FlyImage{
        height: 76%;
      }
      
    }
@media screen and (min-width: 1366px)and (max-width: 1419px){
    .A_BaikalImage{
        z-index:-1;
        margin-top: -10%;
        overflow: hidden;
        height: 90%;
    
    }
    .A_BaikalImage1{
        margin-right:10%;
        margin-left: 27%;
    }

      button {
        z-index: 3;
        display: block;
        width: 5%;
        background: none;
        color: rgb(0, 0, 0);
        border: none;
        font-size: 1.7em;
        cursor: pointer;
        margin-top: 17%;
        margin-left: 114%;
        transition: background 0.3s;
      }

      #results button {
        width: 100%;
        cursor: pointer;
        margin-top: 120%;
        margin-left: 350%;
      }

      .A_FlyImage{
        height: 73%;
      }
}

@media screen and (min-width: 1024px)and (max-width: 1365px){
    
    
    .A_BaikalImage{
        z-index:-1;
        margin-top: -10%;
        overflow: hidden;
        height: 90%;
    
    }
    .A_BaikalImage1{
        margin-right:10%;
        margin-left: 27%;
    }


      button {
        z-index: 3;
        display: block;
        width: 5%;
        background: none;
        color: rgb(0, 0, 0);
        border: none;
        font-size: 1.7em;
        cursor: pointer;
        margin-top: 10%;
        margin-left: 86%;
        transition: background 0.3s;
      }

      #results button {
        width: 100%;
        cursor: pointer;
        margin-top: 120%;
        margin-left: 350%;
      }

      .question{
        font-size: 3vw;
      }
      .option{
        font-size: 2vw;
      }

      .A_DomImage{
        margin-top: -11%;
        height: 90%;
      }

}

@media screen and (min-width: 768px)and (max-width: 1023px){
    
    
    .A_BaikalImage{
        z-index:-1;
        margin-top: -10%;
        overflow: hidden;
        height: 90%;
    
    }
    .A_BaikalImage1{
        margin-right:10%;
        margin-left: 27%;
    }

    
      button {
        z-index: 3;
        display: block;
        width: 5%;
        background: none;
        color: rgb(0, 0, 0);
        border: none;
        font-size: 1.7em;
        cursor: pointer;
        margin-top: 10%;
        margin-left: 86%;
        transition: background 0.3s;
      }

      #results button {
        width: 100%;
        cursor: pointer;
        margin-top: 120%;
        margin-left: 350%;
      }

      .question{
        font-size: 3vw;
      }
      .option{
        font-size: 2vw;
      }  
      
      .A_DomImage{
        margin-top:30%;
        height: 53%;
      }

      .A_FlyImage{
        height: 65%;
      }
}
@media screen and (min-width: 414px)and (max-width: 767px){
    

    
    .A_BaikalImage{

        z-index:-1;
        margin-top: -10%;
        overflow: hidden;
        height: 90%;
    
    }
    .A_BaikalImage1{
        margin-right:10%;
        margin-left: 27%;
    }

    
      button {
        z-index: 3;
        display: block;
        width: 5%;
        background: none;
        color: rgb(0, 0, 0);
        border: none;
        font-size: 1.7em;
        cursor: pointer;
        margin-top: 10%;
        margin-left: 60%;
        transition: background 0.3s;
      }

      

      #results button {
        width: 100%;
        cursor: pointer;
        margin-top: 120%;
        margin-left: 350%;
      }

      h2, p{
        font-size: 7vw;
      }

      .question{
        font-size: 7vw;
      }
      .option{
        font-size: 7vw;
      }

      .A_DomImage{
        margin-top:127%;
        height: 30%;
      }

}
@media screen and (min-width: 360px)and (max-width: 413px){ 
    

    
    .A_BaikalImage{

        z-index:-1;
        margin-top: -10%;
        overflow: hidden;
        height: 90%;
    
    }
    .A_BaikalImage1{
        margin-right:10%;
        margin-left: 27%;
    }

    
      button {
        z-index: 3;
        display: block;
        width: 5%;
        background: none;
        color: rgb(0, 0, 0);
        border: none;
        font-size: 1.7em;
        cursor: pointer;
        margin-top: 10%;
        margin-left: 60%;
        transition: background 0.3s;
      }

      

      #results button {
        width: 100%;
        cursor: pointer;
        margin-top: 120%;
        margin-left: 350%;
      }

      h2, p{
        font-size: 7vw;
      }

      .question{
        font-size: 7vw;
      }
      .option{
        font-size: 7vw;
      }
      .A_DomImage{
        margin-top:127%;
        height: 30%;
      }
}


}

.A_BaikalImage{
    z-index:-1;
    margin-top: -20%;
    overflow: hidden;
    height: 112%;

}
.A_BaikalImage1{
    margin-right: 90%;
    margin-left: 9%;
}

  
  
  h1 {
    color: black;
  }
  
  .question {
    margin-top: -12%;
    z-index: 3;
    margin: 2%;
    font-family: 'Arial Narrow', Helvetica, sans-serif;
  font-size: 2vw;
  font-weight: 500;
  }
  
  .option {
    z-index: 3;
    display: inline-block;
    padding: 12px;
    cursor: pointer;
  }

  input[type="radio"] {
    margin-right: 10px;
  }
  
  button {
    z-index: 3;
    display: block;
    width: 5%;
    background: none;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 1.7em;
    cursor: pointer;
    margin-top: 19%;
    margin-left: 114%;
    transition: background 0.3s;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  #results {
    padding: 2% 3%;
    margin-top: 5%;
    margin-left: 5%;
    
    
  }
  
  #results h2 {
    width: 130%;
    color: #000000;
    font-size: 2vw;
  }
  
  #results button {
    width: 100%;
    cursor: pointer;
    margin-top: 118%;
    margin-left: 345%;
  }






.A_DomImage{
        z-index:-1;
        width: 100%;
        margin-top: -30%;
        margin-left: 0%;
        height: 130%;
        overflow: hidden;
    
}
.A_DomImage1{
        width: 100%;
}
    
   
.A_FlyImage{
            z-index:-1;
            width: 90%;
            margin-left: 10%;
            overflow: hidden;
            height: 70%;
            
        
}

.A_FlyImage1{
            width: 90%;
            margin-left: 17%;
}


.medium_article{

    
    .A_ArticleImg{
     width: 100%;
    }

    .A_MainTitle{
        width: 60%;
        margin-left: 34%;
    }

    .M_Summary{
    margin-top: -50%;
    }
}

.medium_article{

    
    @media screen and (min-width: 1920px){
        .M_Summary{
            margin-top: -20%;
            }
    }
    @media screen and (min-width: 1440px)and (max-width: 1919px){
        .M_Summary{
            margin-top: -50%;
            }
    }
@media screen and (min-width: 1366px)and (max-width: 1439px){

}

@media screen and (min-width: 1024px)and (max-width: 1365px){


}

@media screen and (min-width: 768px)and (max-width: 1023px){
    .A_MainTitle{
        width: 90%;
        margin-left: 2%;
    }      
    .M_Summary{
        margin-top: 0%;
        }  
}
@media screen and (min-width: 414px)and (max-width: 767px){
   
    .A_MainTitle{
        width: 90%;
        font-size: 7vw;
        margin-left: 2%;
    }        

    .M_Summary{
        margin-top: 0%;
        }
    
}

@media screen and (min-width: 360px)and (max-width: 413px){ 
    .A_MainTitle{
        width: 90%;
        font-size: 7vw;
        margin-left: 2%;
    }        

    .M_Summary{
        margin-top: 0%;
        }  

        .M_Summary .molluski{
            margin-top: 50%;
            }  
        
    

}
@media screen and (min-width: 0px)and (max-width: 359px){ 
    .A_MainTitle{
        width: 60%;
        margin-left: 2%;
    }        
}
}



    

.molluski{
    .M_Summary{
        margin-top: -35%;
    }
    .A_ArticleImg{
        width: 100%;
       }
   
       .A_MainTitle{
           width: 60%;
           margin-left: 34%;
       }

    
       @media screen and (min-width: 1920px){
        .M_Summary{
            margin-top: -20%;
            }
    }
    @media screen and (min-width: 1440px)and (max-width: 1919px){
        .M_Summary{
            margin-top: -50%;
            }
    }
@media screen and (min-width: 1366px)and (max-width: 1439px){

}

@media screen and (min-width: 1024px)and (max-width: 1365px){


}

@media screen and (min-width: 768px)and (max-width: 1023px){
    .A_MainTitle{
        width: 90%;
        margin-left: 2%;
    }      
    .M_Summary{
        margin-top: 0%;
        }  
}
@media screen and (min-width: 414px)and (max-width: 767px){
   
    .A_MainTitle{
        width: 90%;
        font-size: 7vw;
        margin-left: 2%;
    }        

    .M_Summary{
        margin-top: 0%;
        }
    
}

@media screen and (min-width: 360px)and (max-width: 413px){ 
    .A_MainTitle{
        width: 90%;
        font-size: 7vw;
        margin-left: 2%;
    }        

    .M_Summary{
        margin-top: 0%;
        }  

    
        
    

}
@media screen and (min-width: 0px)and (max-width: 359px){ 
    .A_MainTitle{
        width: 60%;
        margin-left: 2%;
    }        
}
   

}


.advice_eco{

    .A_ArticleTitle, .A_ArticleText{
        color: aliceblue;
        text-align: center;
        width: 35%;
        margin-left: 32%;
        margin-top: 2%;
    }

    .A_AdviceImg{
        width: 100%;
        margin-top: -7%;
        position: absolute;
        z-index: -1;
        height: 100.7%;
        overflow: hidden;
        
    }

    footer{
        position: relative;
        z-index: 5;
        margin-top: -2%;
    }
}


.advice_eco{
    @media screen and (min-width: 1920px){
        .A_ArticleTitle{
    margin-top: 5%;
    font-size: 1.5vw;
        }
        .A_ArticleText{
            font-size: 1.5vw;
        }
        }
@media screen and (min-width: 1440px)and (max-width: 1919px){
    
    }
@media screen and (min-width: 1366px)and (max-width: 1439px){

}

@media screen and (min-width: 1024px)and (max-width: 1365px){


}

@media screen and (min-width: 768px)and (max-width: 1023px){
    .A_ArticleTitle{
        margin-top: 5%;
        font-size: 4vw;
            }
            .A_ArticleText{
                font-size: 4vw;
            } 
       background-color: #352d05;
               
}
@media screen and (min-width: 414px)and (max-width: 767px){
    .A_ArticleTitle{
        margin-top: 5%;
        font-size: 4vw;
        width: 50%;
        margin-left: 24%;
            }
            .A_ArticleText{
                font-size: 4vw;
                width: 50%;
                margin-left: 24%;
            } 

            .A_AdviceImg{
                height: 100%;
            }
       background-color: #352d05;

}
@media screen and (min-width: 360px)and (max-width: 413px){ 
    .A_ArticleTitle{
        margin-top: 5%;
        font-size: 4vw;
        width: 50%;
        margin-left: 24%;
            }
            .A_ArticleText{
                font-size: 4vw;
                width: 50%;
                margin-left: 24%;
            } 
       background-color: #352d05;
}
@media screen and (min-width: 0px)and (max-width: 359px){ 
}

}






        


@media screen and (max-width: 999px) {
    .A_ShowAllButton {
        width: 50vw;
      }


    .A_ChapterTests a, .A_ChapterLit a, .A_ChapterAbout a{
        font-size: 15px;
    }


.A_Resources a{
    font-size: 15px;
    
}
  }
