.S_AboutBlock{
    margin-top: 30%;
      width: 100%;
}

.S_LogotypeBlock{
    
}

.S_ColorBlock{
    
}

.S_TypoBlock{
    
}

.S_GridBlock{
    
}

.S_GraphicsBlock{
    
}

.S_LanguageBlock{
    
}

.S_MerchBlock{
    
}




.S_Cards{
  width: 100%;
  padding: 2vw;
  display: flex;
  gap: 1vw;
  margin-top: 5vw;
}

.S_Article {
    display: flex;
    gap: 20px;
    padding: 2vw;
}

.tests{
.S_TestCards{
  display:inline-flex;
  justify-content: space-between;


}
}