* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
} 

body{
  font-family: 'Arial Narrow', Helvetica, Arial, sans-serif;
  font-style: normal;

}


a,p, label, button, input{
  font-family: 'Arial Narrow', Helvetica, sans-serif;
  font-size: 1.4vw;
  font-weight: 100;
  color: black;
}

h1,h2{
  font-family: 'Arial Narrow', Helvetica, sans-serif;
  font-size: 2vw;
  font-weight: 500;
  font-style: bold;
  margin-bottom: 0.4%;
  margin-top: 1%;
}



.images {
  display: flex;

  * {
    width: 24px;
    height: 24px;
    margin: 0 10px;
  }
}

h1 {
  color: white;
}



a {
  text-decoration: none;
}

::selection {
  background-color: #B0EB00;
  color: white; 
}


::-webkit-scrollbar {
  width: 10px; 
  height: 10px;
}


::-webkit-scrollbar-thumb {
  background: #B0EB00;
  border-radius: 10px; 
}


::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: #A5D600; 
}

input[type] {
  background-color: transparent ;
  border: 2px solid #B0EB00 ;
  padding: 5px;
}

input::placeholder {
  color: #B0EB00;

}


&#bgPNG {
  background-image: url('../images/tests/test_lakes.webp');
  background-image: url('../images/tests/question_box.webp');
  background-image: url('../images/tests/test_yavlenia.webp');
  background-image: url('../images/tests/test_fly.webp');
  background-image: url('../images/advice/to_do.webp');
  background-image: url('../images/tests/baikal.webp');
  background-image: url('../images/tests/galo.webp');
  background-image: url('../images/tests/fly.webp');
  background-image: url('../images/advice/to_do.webp');
  
  
}


.O_Search {
  display: flex;
  margin: 50px auto;
  align-items: center;
  gap: 10px;
  max-width: 30%;
}

.A_Search {
  border: 1px solid black;
  border-radius: 10px;
  width: 250px;
  height: 48px;
  background-color: transparent;
  padding: 1px 8px;

  &:focus {
    border-color: inherit;
    box-shadow: none;
    outline: none;
  }
}

.A_SearchButton{
  padding: 10px 20px;
  background-color: black;
  color: white;
  cursor: pointer;
  user-select: none;

  &.disable {
    background-color: lightgray;
    color: gray;
    cursor: default;
  }
}

