* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0.5% 0.5%;
}

//Basics работает на весь сайт


body{
  font-family: 'Arial Narrow', Helvetica, Arial, sans-serif;
  font-style: normal;
}

.cow1{
  display: flex;
  width: 30%;
  z-index: 1;
  margin-top: 1%;
  margin-bottom: 1%;
}

.cow2{
  display: flex;
  width: 30%;
  z-index: 1;
  margin-top: 1%;
  margin-bottom: 1%;
}

.cow3{
  display: flex;
  width: 30%;
  z-index: 1;
  margin-top: 1%;
  margin-bottom: 1%;
}

.zagolovok1{
  margin-top: 2%;
}

.images {
  display: flex;

  * {
    width: 24px;
    height: 24px;
    margin: 0 10px;
  }

  .image {

    &#bgPNG {
      background-image: url('../images/habitat/habitat_article1/cow1.jpg');
      background-image: url('../images/habitat/habitat_article1/cow2.jpg');
      background-image: url('../images/habitat/habitat_article1/cow3.jpg');
    }
    &#bgPNG {
      background-image: url('../images/image.png');
    }

    &#bgJPG {
      background-image: url('../images/image.jpg');
      
    }

    &#bgSVG {
      background-image: url('../images/image.svg');
    }
  }
}

.cow1{
  display: flex;
  width: 30%;
  z-index: 1;
  margin-top: 1%;
  margin-bottom: 1%;
}

.cow2{
  display: flex;
  width: 30%;
  z-index: 1;
  margin-top: 1%;
  margin-bottom: 1%;
}

.cow3{
  display: flex;
  width: 30%;
  z-index: 1;
  margin-top: 1%;
  margin-bottom: 1%;
}

.zagolovok1{
  margin-top: 2%;
}

.text1{
  margin-top: 0.2%;
  
}
