@font-face {
  font-family: 'Arial Narrow';
  src: url('../fonts/ofont.ru_Arial\ Narrow.ttf') format('truetype'),
    url('../fonts/ofont.ru_Arial\ Narrow.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  
}

@font-face {
  font-family: 'Arial Narrow';
  src: url('../fonts/arialnarrow_bold.ttf') format('truetype'),
  url('../fonts/arialnarrow_bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Arial Narrow';
  src: url('../fonts/arialnarrow_bolditalic.ttf') format('truetype'),
  url('../fonts/arialnarrow_bolditalic.ttf') format('truetype'),;
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Arial Narrow';
  src: url('../fonts/arialnarrow_italic.ttf') format('truetype'),
  url('../fonts/arialnarrow_italic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
