body.index {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  
  & > div,
  & > a {
    margin: 10px 0;
  }
}

body {
  background-image: linear-gradient(to bottom, #B0EB00 0%, #B0EB00 10%,white 30%, white 100%);
    background-repeat: no-repeat;

}



