body.index {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;

  & > div,
  & > a {
    margin: 10px 0;
  }
}

body {
    background-image: url(../images/index/Q_Gradient.png);
    background-repeat: no-repeat;
}



input[type] {
    background-color: transparent ;
    border: 2px solid #B0EB00 ;
    padding: 5px;
}

input::placeholder {
    color: #B0EB00;

}


.names {
    padding: 25px;
}

.names a{
    font-style: italic;
    color: #B0EB00;
}

.tg1 {
    width: 30px;
}

.socials {
    padding: 20px;
}



