@media screen and (min-width: 1920px){
    .zaglushka{
        
        .socials{
            margin-top: 38%;
        }
        
    } 
    }
    @media screen and (min-width: 1440px)and (max-width: 1919px){
        .zaglushka{
            
            .socials{
                margin-top: 43%;
            }
            
        } 
    }
    @media screen and (min-width: 1366px)and (max-width: 1439px){
        .zaglushka{
            
            .socials{
                margin-top: 36%;
            }
            
        } 
    }
        
    @media screen and (min-width: 1024px)and (max-width: 1365px){
        .zaglushka{
            
            .socials{
                margin-top: 54%;

                .vk{
                    margin-left: -13%;
                }
            }

            
        } 
    }
    
    @media screen and (min-width: 768px)and (max-width: 1023px){
        .zaglushka{
            .underline2{
                width: 17%;
                margin-top: -14.5%;
                margin-left: 25%;
            }
            #my-form{
                margin-left: 26%;
                margin-top: 15%;
            }
            .hello{
                font-size: 4vw;
                margin-left: 18%;
                margin-top: 19%;
            }
            a{
                font-size: 4vw;
            }
            p{
                font-size: 3.2vw;
            }
            #my-form-button{ 
                font-size: 3.2vw;
                height: 4.5vw;
                width: 16vw;
            } 

            form input{
                font-size: 3.2vw;
                width: 31vw;
                margin-left: -25%;
                height: 4.5vw;
            }

            .animation_rostok{
                width: 30%;
                margin-top: -41%;
                margin-left: -22%;
            }
            .socials{
                margin-top: 119%;
                margin-left:75%;

                .vk,.tg,.dzen{
                    width: 75%;
                    height: 60%;
                 }
                

                .vk{
                    margin-left: -13%;
                }
            }

            #form_text{
                margin-left: -25%;
            }
        } 
    }
    @media screen and (min-width: 414px)and (max-width: 767px){
       
    }
    @media screen and (min-width: 360px)and (max-width: 413px){ 
     
    }
    @media screen and (min-width: 0px)and (max-width: 359px){ 
    }