.styleguide_style{
    background-image: none;
    body{
        overflow-x: hidden;
        
    }

    img{
        margin-left: 38%;
        margin-bottom: 8%;
        width: 40%;
    }
    p{
        color: #2B372C;
        padding-left: 14%;
        margin-bottom: 5%;
    }
    h1{
        color: #2B372C;
        font-size: 8vw;
        letter-spacing:-0.4vw;
    }
    h2{
        color: #2B372C;
        font-size: 3vw;
        letter-spacing:-0.37vw;
        font-weight: 600;
    }
    h3{
        color: #B0EB00;
        font-size: 8vw;
        letter-spacing:-0.6vw;
        font-weight: 600;
        margin-bottom: 4%;
        margin-left: -0.3%;
    }
    h4{
        color: #B0EB00;
        font-size: 3vw;
        letter-spacing:-0.35vw;
        font-weight: 600;
        margin-bottom: 3%;
        margin-left: -0.3%;
    }
    button{
        background-color: #B0EB00;
        border-style: none;
        letter-spacing:-0.5rem;
        width: 8.5%;
        
    }

    .navigation{
        
        justify-content: center;
        position: absolute;
        display: flex;
        justify-content: space-between;
        margin-top: 15%;
        margin-left: 13%;
        width: 75%;
    }

    .about_us{
        width: 14%;
    }
    .logooo{
        width: 13%;
    }
    .typography{
        width: 18%;
    }
    .graphic{
        width: 13%;
    }
   
    .map{
        display: none;
    }
    .about{
        display: none;

    }
    form{
        display: none;
    }

    .back_grad{
        display: block;
        justify-content: center;
        margin-top: -1.4%;
        margin-left: 0%;
        width: 100%;
        overflow: hidden;
    }
    .grad{
        margin-left: 0%;
        width: 100%;
    }

    .logo{
        justify-content: center;
        position: relative;
        margin-top: -54.6%;
        margin-bottom: -10%;
        
        
    }
    .logotype{
        width: 30%;
        margin-left: 33%;
    }

    .media_o{
        margin-left: 14%;
        margin-top: -9%;
        
    }

    .about_block{
      margin-top: 30%;
      width: 100%;
    }
    .collage{
      width: 36%;
      margin-top: 2%;
      margin-left: 0%;
      margin-bottom: 0%;
      
    }

    .missia{
        margin-top: -41%;
        margin-left: 38%;
        margin-bottom: -10%;
    }

    .logoooo{
        margin-top: 38%;
    }

    .first_logo{
        width: 30%;
        margin-left: 43%;
    }

    .ohrannoe{
        width: 30%;
        margin-left: 43%;
    }

    .ogranichenia{
        position: relative;
    }
    .ogr_1{
        margin-top: -4%;
        margin-left: 22%;
        width: 40%;
        position: relative;
        display: inline-flex;
        justify-content: space-between;
    }
    .blue_on_green{
    width: 50%;
    height: 50%;
    margin-right: -20%;
    }

    .black_on_red{
        width: 50%;
    height: 50%;
    }

    .text_1{
        position: absolute;
        margin-top: 29%;
        margin-left: 24%;
    }

    .text_2{
        position: absolute;
        margin-top: 29%;
        margin-left: 92%;
        width: 58%;
    }

    .ogr_2{
        margin-left: 22%;
        width: 40%;
        position: relative;
        display: inline-flex;
        justify-content: space-between;
    }
    .otstupi{
    width: 50%;
    height: 50%;
    margin-right: -19%;
    margin-left: 37%;
    }

    .no_contrast{
        width: 50%;
    height: 50%;
    margin-top: 10%;
    
    }

    .text_3{
        position: absolute;
        margin-top: 30%;
        margin-left: 24%;
    }

    .text_4{
        position: absolute;
        margin-top: 30%;
        margin-left: 92%;
        width: 58%;
    }


    .ogr_3{
        margin-left: 22%;
        width: 40%;
        position: relative;
        display: inline-flex;
        justify-content: space-between;
        margin-bottom: 5%;
    }
    .pol_treking{
    width: 50%;
    height: 50%;
    margin-right: -19%;
    margin-left: 38%;
    margin-top: 10%;
    }

    .defor{
        width: 66%;
    height: 50%;
    margin-top: 10%;
    
    }

    .text_5{
        position: absolute;
        margin-top: 30%;
        margin-left: 24%;
    }

    .text_6{
        position: absolute;
        margin-top: 30%;
        margin-left: 92%;
        width: 58%;
    }

  
    .ex_web1{
     width: 26%;
     }

    .favicon{
     width: 10%;
     }
    
}